In [1]:
import re, numpy as np

from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession, functions as F

conf = ( SparkConf()
         .setMaster("local")
         .setAppName("dev")
         .set("spark.executor.memory", "2g") )

sc = SparkContext(conf = conf)
spark = SparkSession(sparkContext=sc)

In [2]:
df = spark.read.csv('../data/random.csv', header=True, inferSchema=True)

df.printSchema()
df.count()

root
 |-- iter: integer (nullable = true)
 |-- t1: integer (nullable = true)
 |-- t2: integer (nullable = true)
 |-- t3: integer (nullable = true)
 |-- t4: integer (nullable = true)
 |-- t5: integer (nullable = true)

819200

In [3]:
df.show(3)

+----+---+---+---+---+---+
|iter| t1| t2| t3| t4| t5|
+----+---+---+---+---+---+
|   1| 78| 79| 80| 81| 82|
|   1| 32| 33| 34| 35| 36|
|   1| 10| 11| 12| 13| 14|
+----+---+---+---+---+---+
only showing top 3 rows

In [23]:
x = df.rdd.map(lambda row: (row[0], *[1 if i > 50 else 0 for i in row[1:]])).toDF(df.columns)

x = x.groupBy('iter').sum()
x.show(3)

+----+---------+-------+-------+-------+-------+-------+
|iter|sum(iter)|sum(t1)|sum(t2)|sum(t3)|sum(t4)|sum(t5)|
+----+---------+-------+-------+-------+-------+-------+
|   1|   102400|  51264|  52272|  53248|  54512|  55376|
|   3|   614400| 102640| 104688| 106592| 108784| 110752|
|   2|   204800|  51376|  52416|  53344|  54272|  55376|
+----+---------+-------+-------+-------+-------+-------+
only showing top 3 rows

In [86]:
a = np.array([1,2,3])
b = [4,5,6]

x = np.array([1,2,3,4, 4, 5, 5, 5,6,7,8,9])
np.column_stack([a,b,]).clip(max=4)
[*np.where(x>5, 1, 0).view()]

[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1]

In [129]:
x = np.array([i for i in range(100)])
y = np.select([x<50, x>=50], [1, 0], np.nan)
y.view()

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])